
commands:
  02_add_swap:
    command: |
      if [ ! -f /swapfile ]; then
        dd if=/dev/zero of=/swapfile bs=1M count=1024
        mkswap /swapfile
        chmod 600 /swapfile
        swapon /swapfile
        echo "/swapfile swap swap defaults 0 0" >> /etc/fstab
      fi
    ignoreErrors: true
